<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <iframe id="mapFrame" src="/static/berlin_map.html"></iframe>

    <button id="report" class="fab" type="button">➕ Report incident</button>
    <button id="resetMapButton" class="fab" type="button">🔄 Reset map</button>

    <dialog id="myDialog">
        <form method="POST" action="/add_point">
            <label>
                Latitude
                <input name="lat" required>
            </label>

            <label>
                Longitude
                <input name="lon" required>
            </label>

            <label>
                Description
                <input name="description" required>
            </label>

            <div class="dialog-actions">
                <button type="submit" class="submit">Submit</button>
                <button type="button" id="closeDialogBtn" class="cancel">Cancel</button>
            </div>
        </form>
    </dialog>

    <script>
        const reportButton = document.getElementById('report');
        const closeButton = document.getElementById('closeDialogBtn');
        const dialog = document.getElementById('myDialog');

        reportButton.addEventListener('click', () => {
            dialog.showModal();
        });

        closeButton.addEventListener('click', () => {
            dialog.close();
        });

        function reloadMap() {
            const iframe = document.getElementById("mapFrame");
            iframe.src = "/static/berlin_map.html?t=" + Date.now();
        }

        document.getElementById("resetMapButton").addEventListener("click", () => {
            fetch("/reset_map", { method: "POST" })
                .then(() => reloadMap());
        });
    </script>

</body>
</html>
